/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #bca4ea;
  --ifm-color-primary-dark: #a484e3;
  --ifm-color-primary-darker: #9873df;
  --ifm-color-primary-darkest: #7543d4;
  --ifm-color-primary-light: #d4c4f1;
  --ifm-color-primary-lighter: #e0d5f5;
  --ifm-color-primary-lightest: #ffffff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a482ce;
  --ifm-color-primary-dark: #926ac5;
  --ifm-color-primary-darker: #8a5ec0;
  --ifm-color-primary-darkest: #7042a9;
  --ifm-color-primary-light: #b69ad7;
  --ifm-color-primary-lighter: #bea6dc;
  --ifm-color-primary-lightest: #d9caea;
}

footer.footer a {
  color: var(--ifm-navbar-link-color);
  font-size: .75rem;
  text-decoration: underline;
}
footer.footer .emails{
  text-align: center;
}

footer.footer .right{
  text-align: right;
}

footer.footer .icon{
  width: 26px;
  height: 26px;
}

footer.footer .footer-logo{
  width:48px;
  color: var(--ifm-navbar-link-color);
}

footer.footer a.social-link{
  text-decoration: none;
  width:26px;
  color: var(--ifm-navbar-link-color);
}

footer.footer nav.social-links {
  display:flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color:#fff;
}

@media (min-width: 768px) {
  footer.footer nav.social-links {
    justify-content: end;
  }
}

footer.footer > div.container-fluid {
  max-width: inherit;
}

@media (min-width: 576px)
.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}


@media (min-width: 768px) {
  footer.footer .footer__links {
    flex-direction:row;
  }
}

footer.footer .footer-left {
  display:flex;
  align-items: center;
  gap: 0.75rem;
  flex-direction:column;
}

@media (min-width: 768px) {
  footer.footer .footer-left {
    flex-direction:row;
  }
}

footer.footer .footer-left .copyright-text {
  font-size: .75rem;
  line-height: 1rem;
  margin-bottom:0;
  white-space: nowrap;
}

footer.footer .footer-left .copyright-links {
  display:flex;
  gap:0.5rem;
  justify-content:center;
}

@media (min-width: 768px) {
  footer.footer .footer-left .copyright-links {
    justify-content:start;
  }
}

nav.sidebar ul li a {
  font-weight: bold;
}





